<app-header></app-header>

<div class="container curriculum-body p-5 my-3">
  <app-profile></app-profile>

  <app-aboutme></app-aboutme>

  <div class="row mb-3">
    <div class="col-lg-8">
      <app-education></app-education>
    </div>
    <div class="col-4">
      <app-languages></app-languages>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-8">
      <app-experience></app-experience>
    </div>
    <div class="col-4">
      <app-extras></app-extras>
    </div>
  </div>

  <app-skills></app-skills>

  <app-projects></app-projects>
</div>
