* {
  box-sizing: border-box
}

.skills-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
}

.skills-container {
  width: 90%;
  background-color: white;
  margin-left: 1em;
  border: solid 1px;
}

p {
  margin: 0;
  margin-left: 1em;
}

.Básico,
.Intermedio,
.Avanzado,
.Experto {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}

.Básico {
  width: 25%;
  background-color: #f44336;
}

/* Green */
.Intermedio {
  width: 50%;
  background-color: #2196F3;
}

/* Blue */
.Avanzado {
  width: 75%;
  background-color: #808080;
}

/* Blue */
.Experto {
  width: 100%;
  background-color: #04AA6D;
}