* {
  box-sizing: border-box
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
}

.skill-box-container {
  width: 90%;
  background-color: white;
  margin-left: 1em;
  border: solid 1px;
}

p {
  margin: 0;
  margin-left: 1em;
}

.Básico,
.Intermedio,
.Avanzado,
.Experto {
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  background-color: #9CB4CC;
}

.Básico {
  width: 25%;
}

/* Green */
.Intermedio {
  width: 50%;
}

/* Blue */
.Avanzado {
  width: 75%;
}

/* Blue */
.Experto {
  width: 100%;
}